.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    padding-top: 200px;
}

video {
    /*width: 355px;*/
    width: 55%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.container-login {
    margin-top: -25px;
}

.container-call {
    margin-top: 0;
}

.call-page {
    text-align: center;
}

.videos {
    display: none;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.active {
    display: flex;
}

.videos div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
}

.options {
    text-align: center;
    flex-direction: row;
    display: inline-flex;
    margin: auto;
}
