.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    padding-top: 200px;
}

.div-video-frames {
    flex-direction: column;
    margin: auto;
}

.logged-in-local-video {
    width: 55%;
    height: 100%;
    border-top-left-radius: 0.8ch;
    border-top-right-radius: 0.8ch;
}

.logged-in-remote-video {
    width: 0;
    height: 0;
}

.connected-video {
    width: 100%;
    height: 100%;
}

#local-video.connected-video {
    margin-right: 7px;
}

#remote-video.connected-video {
    margin-left: 7px;
}

.container-login {
    margin-top: -25px;
}

.container-call {
    margin-top: 0;
}

.call-page {
    text-align: center;
}

.videos {
    display: none;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.active {
    display: flex;
}

.videos div {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
}

.options {
    text-align: center;
    flex-direction: row;
    display: inline-flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.name-labels {
    color: white;
    font-size: 20px;
    background-color: gray;
    border-bottom-left-radius: 0.5ch;
    border-bottom-right-radius: 0.5ch;
}

.not-connected-labels {
    width: 55%;
}

.connected-labels {
    width: 100%;
}

#remote-username-label.connected-labels {
    margin-left: 7px;
}

#your-username-label.connected-labels {
    margin-right: 7px;
}
